{% extends 'base.html' %}

{% block content %}
<ul class="list-articles">		
	{% for a in ads %}
	<li><div class="article-panel">
		<p class="first">{{a.id_category}} | {{a.id_subcategory}}</p>		
		<p class="last">Город: {{a.id_location}}</p>
	</div>
	{% if a.link_to_photos %}
	<p><img class="img-article-left thumb" src={{ a.link_to_photos }}></p>
{% endif %}
			<h2>{{a.name}}</h2>
	{% autoescape on %}
	{{a.description|truncatewords:50}}
	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{% url 'ad' a.pk %}">Посмотреть объявление</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}
