{% extends 'base.html' %}

{% block content %}
<h1>{{ad.name}}</h1>

{% if ad.link_to_photos %}
<p><img class="img-article-left thumb" src={{ ad.link_to_photos }}></p>
{% endif %}

<p>Описание: {{ad.description}}</p>
<p>Цена: {{ad.price}}</p>
<h5>Владелец: {{ ad.id_user }}</h5>

<a href="{% url 'review' %}">
    <button type="button">Написать отзыв</button>
</a>

<a href="{% url 'ad_delete' ad.id_ad %}">
    <button type="button" onclick="alert('Вы удалили объявление')">Удалить</button>
</a>

{% endblock %}
